html{
    font-size: 62.5%;
}
body{
    background-color: black;
}
/*text elements*/
p{
    color: white;
}
h2{
    color: white;
}
/*--Header--*/
nav {
    margin-top: 10px;
}
li{
    font-size: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: flex;
    margin-top: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
}
.logo{
    width: 370px;
    height: 300px;
}
.header{
    display: flex;
    padding-top: 40px;
    text-align: right;
    justify-content: space-between;
    list-style-type: none;
}
/*hero*/
h1{
    color: white;
    clear: both;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    padding-top: 5rem;
}
.Why{
   font-size: 15px; 
   text-align: center;
   
}
.hero{
    background-image: url(images/bgimage.webp);
    height: 300px;
    width: 370px;
}
.contactbutton{
    border: #fff 1px solid;
    font-size: 30px;
    background-color: lightgreen;
    width: 5rem;
    border-radius: 6px;
    padding: 4px;
    margin-left: 15rem;
    
}