html{
    font-size: 62.5%;
    
}
body{
    background-color: black;
}
/*text elements*/
p{
    color: white;
    font-family: 'Lato', sans-serif;
}
h2{
    color: white;
    font-family: 'Playfair Display', serif;
}
/*hamburger menu*/ /*learned from watching multiple youtube videos*/

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: white;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 white;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}
.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: red;
  list-style-type: none;
  transform: translateX(-200%);
  transition: .3s;
  width: 200px;
}
.menu-item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  background: rgba(255,255,255,.2)
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}
.menu{
  display: flex;
  justify-content: flex-end;
}
/*--Header--*/

.navigation3{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  display: none;
}
.logohead{
  width: 90px;
}

header ul {
  display: flex;

  list-style: none;

  margin-right: 60px;
}

header li {
  margin-left: 20px;

  font-size: 12px;

  height: 50%;
}

header a {
  text-decoration: none;

  color: white;
}
/*hero*/
h1{
    color: white;
    clear: both;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
}
.build1{
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.buildwithus{
  margin-top: 30px;
}
.hero{
    height: 400px;
    width: 370px;
}
.centerbutton{
    display: flex;
    justify-content: center;
}
.contactbutton{
    text-decoration: underline;
    font-size: 20px;
    color:white;
    font-weight: bold;
    margin-bottom: 30px;
}

/*about section*/
.about-us{
  display: flex;
 text-align: center;
 justify-content: center;
  font-size: 15px;
  padding-top: 90px;
}
.about{
  color: black;
  font-size: 30px;
}
.about1{
 display: flex;
 justify-content: center;
 font-size: 30px;
 background-image: url();
}
.aboutbutton{
    color: #a1aeb7;
    text-decoration: none;
    border: #a1aeb7 1px solid;
    padding: 6px;
    border-radius: 7px;
}


/*portfolio*/
.projects{
    margin-top: 50px;
    font-size: 3rem;
    text-align: center;
}
video{
    margin-top: 0;
    width: 370px;
}

/*CTA*/
.cta{
    background-image: url(images/bathroom.jpg);
    height: 300px;
}
.cta2{
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}
.contactnow{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.satisfaction{
list-style-type: none;
text-align: center;
color: white;
font-size: 20px;
}


/*footer*/

footer {
    text-align: center;
    padding: 2rem;
  }
  .footer2{
    display: flex;
  }
  footer nav {
    margin-bottom: 3rem;
  }
  iframe{
    width: 300px;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
  }
  footer li {
    margin: 3rem 2rem 0 0;
  }
  footer p {
    border-top: 1px solid #a1aeb7;
    padding-top: 1rem;
    font-size: 14px;
    color: #a1aeb7;
  }
  footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  .footer2{
    display: flex;
    justify-content: center;
   
  }
  .desktopfoot a{
  margin-left: 20px;
  font-size: 30px;
  }
  .footer2{
    display: flex;
    justify-content: center;
   
  }
  .location{
    margin-left: 20px;
    display: flex;
    font-size: 20px;
  }
  .desktopfoot a{
  margin-left: 20px;
  font-size: 30px;
  }
  iframe{
    width: 200px;
    height: 400px;
    
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  .design{
    width: 40px;
    height: 300px;
    margin-left: 90px;
    display: none;
  }
  .map2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
  }
  /* DESKTOP*/
  /* Large devices (desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

  header ul {
    display: flex;
  }
  header li {
    list-style: none;
  }
  header a {
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  .navigation{
    display: flex;
    margin-top: 60px;
  }
  /*hero desktop*/
  .build{
    display: flex;
    justify-content: center;
  }
  .logo{
    width: 300px;
    height: 200px;
  }
  
  .buildwithus{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /*about us desktop*/
  .about-us{
    background-image: url(images/jon-moore-Zjq1UTyT2kE-unsplash.jpg);
    height: 300px;
    display: flex;
  }
  .aboutbutton{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    text-decoration: underline;
  }
  .aboutus{
    font-size: 17px;
    font-family: 'Lato', sans-serif;
  }

/*portfolio*/
.video{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
video{
  width: 500px;
}
.projects{
    font-size: 40px;
}
/*CTA desktop*/
.text{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.flex-container{
  display: flex;
  justify-content: center;
}
.bath{
  width: 400px;
  height: 200px;
}
/*memberships*/
.member{
  background-color: white;
  width: 900px;
  display: flex;
  flex-direction: row;
  
}
.netzero{
  width: 300px;
}

/*Footer desktop*/
.spacing {
  margin-top: 2rem;
}
.footer2{
  display: inline-block;
  flex-direction: row;

}
.memberships{
  font-size: 40px;
}

.logotext{
  display: flex;
  justify-content: flex-start;
}
.text{
  font-size: 30px;
  margin-left: 10px;
  display: flex;
  text-align: center;
  
}

/*footer nav*/
.footer2{
  display: flex;
  justify-content: center;
 
}
.location{
  margin-left: 20px;
  display: flex;
}
.desktopfoot a{
margin-left: 20px;
font-size: 30px;
}
iframe{
  width: 300px;
  height: 400px;
}
.container{
  display: flex;
  flex-direction: column;
}
.design{
  width: 400px;
  height: 300px;
  margin-left: 90px;
 
}

.map2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}
/*Form*/
form .text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 400px;
 margin-top: 40px;
}
.feedback-input {
  color:white;
   font-family: 'Lato', sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }
/*contact page mobile*/
/*top nav*/

/*hero*/
.contacthero{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(images/hero2.jpg);
}
/*contact form*/
/*how to contact- map address loacation phone number*/
/*footer*/