html{
    font-size: 62.5%;
}
body{
    background-color: black;
}
/*text elements*/
p{
    color: white;
}
h2{
    color: white;
}
/*--Header--*/
nav {
    margin-top: 10px;
}
li{
    font-size: 15px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding:0;
}

nav ul li {
    display: flex;
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}
.logo{
    width: 50px;
    height: 50px;
    float: left;
    padding-right:0px;
}
.header{
    display: flex;
    padding-top: 40px;
    text-align: right;
    justify-content: space-between;
    list-style-type: none;
}
/*hero*/
h1{
    color: white;
    clear: both;
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
}
.build1{
    font-size: 2rem;
    text-align: center;
    color: white;
    font-weight: bold;
}
.hero{
    background-image: url(images/bgimage.webp);
    height: 400px;
    width: 370px;
}
.centerbutton{
    display: flex;
    justify-content: center;
}
.contactbutton{
    text-decoration: none;
    font-size: 2rem;
    color:white;
    font-weight: bold;
}

/*about section*/
.about1{
    text-align: center;
    color: white;
    padding-top: 1rem;
    font-size: 3rem;
}
.about-us{
   text-align: center;
   font-size: 2rem;
}
.aboutbutton{
    color: #a1aeb7;
    text-decoration: none;
    border: #a1aeb7 1px solid;
    padding: 6px;
    border-radius: 7px;
}


/*portfolio*/
.projects{
    margin-top: 6rem;
    font-size: 3rem;
    text-align: center;
}
video{
    margin-top: 0;
    width: 370px;
}

/*CTA*/
.cta{
    background-image: url(images/bathroom.jpg);
    height: 300px;
}
.cta2{
    font-size: 30px;
    text-align: center;
    padding-top: 4rem;
}
.contactnow{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.satisfaction{
list-style-type: none;
text-align: center;
}

/*footer*/
.footerlogo{
width: 60px;
height: 60px;
}
footer {
    text-align: center;
    padding: 2rem;
  }
  footer nav {
    margin-bottom: 3rem;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
  }
  footer li {
    margin: 3rem 2rem 0 0;
  }
  footer p {
    border-top: 1px solid #a1aeb7;
    padding-top: 1rem;
    font-size: 14px;
    color: #a1aeb7;
  }
  footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  /* DESKTOP*/
  /* Large devices (desktops, 1200px and up) */
@media only screen and (min-width: 1700px) {
}
